<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
	<script type="text/javascript" src="/static/layui/layui.js"></script>
</head>
<body style="padding:10px;">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">部门名</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="name" value="">
			</div>
		</div>
	</form>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" onclick="save()">保存</button>
		</div>
	</div>
	<script type="text/javascript">
		layui.use(['layer','form'],function(){
			form = layui.form;
			layer = layui.layer;
			$ = layui.jquery;
		});
		function save(){
			$.post('/index.php/DepartmentManage/add',$('form').serialize(),function(res){
				layer.msg(res.msg);
				if(res.code==1){
					setTimeout(function(){parent.window.location.reload();},1000);
				}
			},'json');
		}
	</script>
</body>
</html>